* {
  font-family: serif;
  /*box-sizing: border-box;*/
}

.navbar {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: .1rem;
  background-color: #f2f2f2;
}

.container {
  background-color: #f2f2f2;
}

.wrapper {
  width: 70%;
  padding-left: 0;
}

.main {
  /* background-color: darkorchid; */
  padding-top: 70px;
  padding-bottom: 60px;
}

.row {
  width: 65%;
  /* background-color: darkred; */
}

navbar-brand {
  height: 2.5rem;
  font-size: x-large;
  background: #6EC6BA;
  margin-left: 10px;
  color: #f2f2f2;
  padding-top: 9px;
}

.content {
  ;
}

footer {
  background-color: rgb(105, 104, 104);
  font-family: sans-serif;
  text-align: center;
  color: #6EC6BA;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-color: #6EC6BA;
  border-top-width: vw;
  border-top-style: thick;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6EC6BA;
  color:white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout when the screen is less than 992px wide columns stack on each other 
@media screen and (max-width: 992px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
*/